/*#heading1 {
    color: blue;
    font-size: 24px;
    font-weight:lighter;
    text-align: center;
}
   

h1[xyz="abc"] {
    color: blue;
    font-size: 24px;
    font-weight:lighter;
    text-align: center;
}
#heading {
    color: red;
    font-size: 44px;
    font-weight:lighter;
    text-align: center;
    display: block;
}
#heading3 {
    color: rgb(99, 181, 211);
    font-size: 24px;
    font-weight:lighter;
    text-align: center;
}
    */ 

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 150px;
}
.nav-items > ul {
    font-size: 30px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card {
    margin: 5px;
    padding: 10px;
    width: 244px;
    min-height: 300px;
    box-sizing: border-box;
    overflow: hidden;
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-imgcard{
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;  
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login{
    padding:"0 20 px";
    cursor:pointer;
}

.filter{
    display: flex;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}